<h1>All dosages</h1>
<table class="table table-hover">
  <thead>
    {{> dosages/dosage-table-header}}
  </thead>
  <tbody>
    {{#each dosages}}
      {{> dosages/dosage-row }}
    {{/each}}
  </tbody>
</table>
