<h1>All dosages</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Dosage</th>
      <th scope="col">Functions</th>
    </tr>
  </thead>
  <tbody>
    {{#each dosages}}
      {{> dosages/dosage-row }}
    {{/each}}
  </tbody>
</table>
