<h1>Cat Insulin Tracker</h1>
<h2>
  Record a dosage
</h2>
<form action="/api/dosages" method="post">
  <div class="form-row">
    <div class="form-group col">
      <label for="inputEmail4">Date</label>
      <input type="date" name="date" class="form-control" id="date" placeholder="Date">
    </div>
    <div class="form-group col">
      <label for="inputPassword4">Time</label>
      <input type="time" name="time" class="form-control" id="time" placeholder="Time">
    </div>
    <div class="form-group col">
      <label for="inputPassword4">Dosage</label>
      <input type="number" name="dosage" class="form-control" id="dosage" placeholder="Dosage">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Record dosage</button>
</form>
<p>
  Little graph
</p>
<h2>Recent Dosages</h2>
<p>
  See all
</p>
<table class="table table-hover">
  <thead>
    {{> dosages/dosage-table-header}}
  </thead>
  <tbody>
    {{#each dosages}}
      {{> dosages/dosage-row }}
    {{/each}}
  </tbody>
</table>
