<h1>Cat Insulin Tracker</h1>
<h2>
  Record a dosage
</h2>
<h2>Recent Dosages</h2>
<p>
  See all
</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Dosage</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>MM/DD/YYYY</td>
      <td>9am</td>
      <td>4 units</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>MM/DD/YYYY</td>
      <td>9am</td>
      <td>4 units</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>MM/DD/YYYY</td>
      <td>9am</td>
      <td>4 units</td>
    </tr>
  </tbody>
</table>
<p>
  Little graph
</p>
